@model TargetHound.SharedViewModels.ViewModels.ClientListModel

@{
    ViewData["Title"] = "All";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid d-flex flex-column">
    <h1 class="text-center my-5">My Clients</h1>

    <table class="table table-active col-8 offset-3">
        <thead>
            <tr>
                <td>
                    <h4 class="text-center">Client Name</h4>
                </td>
                <td>
                    <h4 class="text-center">Actions</h4>
                </td>
            </tr>
        </thead>
        <tbody class="table-active">
            @foreach (var item in Model.Clients)
            {
                <tr>
                    <td class="text-center">
                        @item.Name
                    </td>
                    <td class="d-flex justify-content-center">
                        <a class="btn btn-primary mx-2" asp-action="Edit" asp-route-clientId="@item.Id">Edit</a>
                        <a class="btn btn-primary mx-2" asp-action="AddUser" asp-route-clientId="@item.Id">Add User</a>
                        <form method="post" asp-controller="Clients" asp-action="Delete">
                            <input type="hidden" name="clientId" value="@item.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                        <a class="btn btn-dark mx-2" asp-action="InactiveClients">Inactive clients </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
