@model TargetHound.SharedViewModels.InputModels.ClientEditInputModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center my-md-5">Edit @Model.Name</h1>

<hr />
<div class="row">
    <div class="col-md-4 offset-4">
        <form asp-route-clientId="@Model.Id" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="form-group">
                <a class="btn btn-outline-info font-weight-bold" href="/Clients/ChangeAdmin?clientId=@Model.Id">Change Administrator</a>
            </div>
        </form>
    </div>
</div>

<div class="offset-11">
    <a class="btn btn-outline-info" asp-action="All">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
