@inject HttpClient client
@inject IStateService stateService

<p>
    Hello
</p>
<NavLink class="">
    <button class="btn btn-block btn-primary" @onclick="@this.ExportCsv">CSV</button>
</NavLink>
<NavLink class="">
    <button class="btn btn-block btn-primary" @onclick="@this.ExportPdf">PDF</button>
</NavLink>
    
@code {
    public void ExportCsv()
    {

    }

    public void ExportPdf()
    {

    }
}
