@page "/Planning/{name}/{declination:double}/"
@page "/Planning/{projectId}"
@inject HttpClient client
@inject IJSRuntime jsRuntime

    <div class="3dContainer">
        
    </div>

@code {
    [Parameter]
    public string ProjectId { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public double Declination { get; set; }

    private ProjectDTO project = null;
    private IJSObjectReference jsModule;

    protected override async Task OnInitializedAsync()
    {
        if(ProjectId != null)
        {
            this.project = await client.GetFromJsonAsync<ProjectDTO>($"api/ProjectApi/{ProjectId}");
            this.jsModule = await jsRuntime.InvokeAsync<IJSObjectReference>("import", "./js/app.js");
        }


    }

    protected override void OnAfterRender(bool firstRender)
    {
        this.jsModule.InvokeVoidAsync("render", this.project).GetAwaiter();
    }
}