@page "/Planning"
@using TargetHound.ViewModels.ViewModels
<h3>Planning</h3>
<p>@project.Name</p>
<p>@project.CountryName</p>

@code {
    [Parameter]
    public ProjectViewModel project { get; set; }
}
