@if (!this.SaveSuccess)
{
    <p class="text-danger font-weight-bold my-3 text-center">
        Save Unsuccessfull!
    </p>
}
else if(!this.SaveSuccess)
{
    <p class="text-success font-weight-bold my-3 text-center">
        Save Successfull!
    </p>
}

@code {
    [Parameter]
    public bool SaveSuccess { get; set; } = true;
}