@model TargetHound.SharedViewModels.InputModels.ProjectCountryInputModel
<div class="form d-flex justify-content-center align-items-center vh-100">
    <form method="post" class="form col-6 flex-row" asp-controller="Projects" asp-action="Create">
        <fieldset class="form-group">
            <label class="control-label" asp-for="Project.Name"></label>
            <input class="form-control" type="text" asp-for="Project.Name" />
            <span asp-validation-for="Project.Name" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <label class="control-label" asp-for="Project.MagneticDeclination"></label>
            <input class="form-control" type="text" asp-for="Project.MagneticDeclination" />
            <span asp-validation-for="Project.MagneticDeclination" class="text-danger"></span>
        </fieldset>

        <fieldset class="form-group">
            <select asp-for="Project.CountryId">
                @foreach (var country in Model.Countries)
                {
                     <option value="@country.Id">@country.Name</option>
                }
            </select>
        </fieldset>

        <section class="d-flex flex-row justify-content-between">
            <button class="btn btn-primary" type="submit">Create</button>
            <a class="btn btn-primary font-weight-bold" href="/Projects/Load">Load</a>
        </section>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
