<article class="d-flex flex-row justify-content-center vh-100 align-items-center">
    <section class="card p-3 mr-5 bg-transparent">
        <a class="btn btn-outline-info font-weight-bold" href="/Projects/Create"><h2>Create new project</h2></a>
    </section>

    <section class="card p-3 ml-5 bg-transparent">
        <a class="btn btn-outline-info font-weight-bold" href="/Projects/Load"><h2>Load Existing Project</h2></a>
    </section>
</article>
