@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="flex-grow-1">
            @Body
        </div>
    </div>
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

</div>
