<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="/Home/Index">Target Hound</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass= bg-dark" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="">
            <NavLink class="dropdown" @onclick="ToggleMenu">
                <a class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planning</a>
            </NavLink>
            @if (showMenu)
            {
                <NavLink class="nav-link">
                    <span class="oi oi-list-rich" aria-hidden="true" @onclick="ShowBorehole">Create Borehole</span>
                </NavLink>
                @if(showBorehole) 
                {
                    <TargetHound.Blazor.Pages.AddBorehole />
                }
                <NavLink class="nav-link">
                    <span class="oi oi-list-rich" aria-hidden="true">Create collar</span>
                </NavLink>
                <NavLink class="nav-link">
                    <span class="oi oi-list-rich" aria-hidden="true">Create Target</span>
                </NavLink>
            }
        </li>

        <li class="">
            <NavLink class="dropdown" href="/Save">
                <a class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Save</a>
            </NavLink>
        </li>
        <li class="">
            <NavLink class="dropdown" href="/Export">
                <a class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export</a>
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool showMenu;
    private bool showBorehole;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void Print()
    {
        Console.WriteLine("Clicked!");
    }

    public void ToggleMenu()
    {
        this.showMenu = !showMenu;
    }

    public void ShowBorehole()
    {
        showBorehole = !showBorehole;
    }
}
