@inject HttpClient client
@inject IStateService stateService
@inject IJSRuntime jsRuntime

<div class="nav my-5" style="padding:0">
    <h4 class="text-center font-weight-bold container-fluid"><a href="/Home/Index" class="text-white">Target Hound</a></h4>
</div>
<div class="@NavMenuCssClass= bg-primary overflow-auto vh-100" @onclick="ToggleNavMenu">
    <ul class="nav flex-column bg-primary">
        <li class="">
            <NavLink class="dropdown" @onclick="ToggleMenu">
                <a class="btn btn-primary dropdown-toggle btn-block" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Planning</a>
            </NavLink>
            @if (showMenu)
            {
                <NavLink class="nav-link">
                    <span class="btn btn-primary btn-block dropdown-toggle" aria-hidden="true" @onclick="ShowCollar">Create Collar</span>
                </NavLink>
                @if (this.showCollar)
                {
                    <TargetHound.Blazor.Pages.AddCollar />
                }
                <NavLink class="nav-link">
                    <span class="btn btn-primary btn-block dropdown-toggle" aria-hidden="true" @onclick="ShowTarget">Create Target</span>
                </NavLink>
                @if (this.showTarget)
                {
                    <CascadingValue Value="this.RefreshIsRequested">
                        <TargetHound.Blazor.Pages.AddTarget />
                    </CascadingValue>
                }
                <NavLink class="nav-link">
                    <span class="btn btn-primary btn-block dropdown-toggle" aria-hidden="true" @onclick="ShowBorehole">Create Borehole</span>
                </NavLink>
                @if (showBorehole)
                {
                    <CascadingValue Value="this.RefreshIsRequested">
                        <TargetHound.Blazor.Pages.AddBorehole Refresh="@this.Refresh" />
                    </CascadingValue>
                }
            }
        </li>

        <li class="" @onclick="SaveProject">
            <NavLink class="dropdown">
                <button type="submit" class="btn btn-block btn-primary">Save</button>
            </NavLink>
            @if (this.ShowSaveMessage)
            {
                <TargetHound.Blazor.Pages.Save SaveSuccess="@this.SaveSuccess" />
            }
        </li>
        <li class="">
            <EditForm Model="@this.Project" OnInvalidSubmit="ExportProject">
                <DataAnnotationsValidator />
                <ValidationSummary />
                <NavLink class="dropdown">
                    <a class="btn btn-primary btn-block dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Export</a>
                </NavLink>
            </EditForm>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private bool showMenu;

    private bool showBorehole;

    private bool showTarget;

    private bool showCollar;

    private bool ShowSaveMessage;

    private IJSObjectReference jsModule;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected bool RefreshIsRequested { get; set; } = false;

    public bool SaveSuccess { get; set; }

    public ProjectDTO Project { get; set; } = new ProjectDTO();

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public void ToggleMenu()
    {
        this.showMenu = !this.showMenu;
    }

    public void ShowBorehole()
    {
        this.showBorehole = !this.showBorehole;
    }

    public void ShowCollar()
    {
        this.showCollar = !this.showCollar;
    }

    public void ShowTarget()
    {
        this.showTarget = !this.showTarget;
    }

    public void Refresh(bool refresh)
    {
        if (refresh)
        {
            this.RefreshIsRequested = !refresh;
            this.StateHasChanged();
        }
    }

    public async Task SaveProject()
    {
        var project = this.stateService.Project;
        var result = await this.client.PostAsJsonAsync<ProjectDTO>($"api/ProjectApi/Save", project);

        if (result.IsSuccessStatusCode)
        {
            this.SaveSuccess = true;
        }
    }

    public async Task ExportProject()
    {

    }
}
